{% extends "base.html" %}
{% block content %}

<div class="container">
    <h4 class="stroke col-md-3 mt-3 text-bold justify-content-center" style="color: #FFD700;">Your Reservations</h4>
    <div class="row justify-content-center">
        {% for booking in reservations %}
        <div class="col-md-5 m-2 text-center">
            <div class="card rounded mb-5 reservations-card">
                <div class="card-body">
                    <h4 class='card-title text-center'>{{ booking.booking_name }}</h4>
                    <h6 class="card-subtitle mb-2">{{ booking.booking_date }} at {{ booking.booking_timeslot }}</h6>
                    <div class='card-text'>
                        <p>Number of Guests: {{ booking.guests_count }}</p>
                        <p>Notes: {{ booking.notes }}</p>                                                     
                    </div>
                    <a href="{% url 'edit_booking' booking.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not booking.booking_name %}
    <div class="col-md-5 m-2 text-center card rounded booking-card justify-content-center">
        <div class="card-body">
            <h4 class="card-title">No Available Bookings</h4><br>
            <h6 class="card-subtitle mb-2 text-bold">You don't have any upcoming reservations.</h6><br>
            <p class="card-text">How about we change that?</p>
            <button class="btn confirmation-card">
              <a href="{% url 'booking' %}" class="card-link">Book a Slot</a>
            </button>
        </div>
    </div>
    {% endif %}
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="p-1"><a href="?page=1">&laquo; first</a></li>
        <li class="p-1"><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}
        <li class="p-1 font-weight-bold" style="color: rgb(242, 241, 237);">Page {{ page_obj.number }}</li>
        {% if page_obj.has_next %}
        <li class="p-1"><a href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="p-1"><a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
  {% endif %}
{%endblock%}